{% extends 'main/base.html' %}

{% load static %}


{% block title %}
Главная
{% endblock %}


{% block content %}
<div class="container">
	<h2>Востребованность профессии</h2>
	<p>Менеджеры проектов помогают реализовывать бизнес-идеи и запускать новые продукты. Они отвечают за то, чтобы проекты были готовы в срок и соответствовали требованиям заказчика. Эффективные менеджеры проектов помогают компаниям увеличивать прибыль, поэтому всегда востребованы в разных отраслях, особенно в IT. <br><br>
	Они в агентствах, занимающихся разработкой программных продуктов. В них заинтересованы компании, которые создают бытовую технику, промышленное оборудование, мобильные устройства и другие гаджеты. Знание английского или другого иностранного языка позволит покорять международный рынок.</p>

	<p>Ниже на графике_1 и в таблице_1 приведена динамика уровня зарплат в рублях по годам и динамика уровня зарплат по годам в рублях для выбранной профессии</p>
	<div class="chart__container">
		<img src=" {% static 'main/img/chart_sal.png' %}">
		<p align="right">График_1</p>
	</div>

	<div class="table__section">
		<table>
			<tr><th> Год </th><th> Все профессии, руб </th><th> Менеджер IT-проекта, руб </th></tr>

			{% for item in x %}
				<tr><td> {{ item.year }} </td>
					<td> {{ item.all_professions }} </td>
					<td> {{ item.it_manager }} </td></tr>
			{% endfor %}
			
			<!-- 
				<tr>
					<th> Год </th>
					<th> Все профессии, руб </th>
					<th> Менеджер IT-проекта, руб </th>
				</tr>
			-->
			<!-- <tr><td> 2005 </td><td> 92769 </td><td> 1750 </td></tr>-->
			<!-- <tr><td> 2006 </td><td> 92284 </td><td> 2333 </td></tr>-->
			<!-- <tr><td> 2007 </td><td> 101427 </td><td> 16207 </td></tr>-->
			<!-- <tr><td> 2008 </td><td> 83688 </td><td> 46961 </td></tr>-->
			<!-- <tr><td> 2009 </td><td> 60598 </td><td> 44923 </td></tr>-->
			<!-- <tr><td> 2010 </td><td> 59117 </td><td> 46765 </td></tr>-->
			<!-- <tr><td> 2011 </td><td> 67213 </td><td> 64943 </td></tr>-->
			<!-- <tr><td> 2012 </td><td> 73141 </td><td> 63829 </td></tr>-->
			<!-- <tr><td> 2013 </td><td> 78962 </td><td> 55928 </td></tr>-->
			<!-- <tr><td> 2014 </td><td> 87498 </td><td> 71036 </td></tr>-->
			<!-- <tr><td> 2015 </td><td> 92567 </td><td> 66524 </td></tr>-->
			<!-- <tr><td> 2016 </td><td> 113089 </td><td> 74748 </td></tr>-->
			<!-- <tr><td> 2017 </td><td> 128392 </td><td> 63129 </td></tr>-->
			<!-- <tr><td> 2018 </td><td> 127228 </td><td> 61550 </td></tr>-->
			<!-- <tr><td> 2019 </td><td> 145865 </td><td> 71099 </td></tr>-->
			<!-- <tr><td> 2020 </td><td> 159908 </td><td> 88191 </td></tr>-->
			<!-- <tr><td> 2021 </td><td> 183962 </td><td> 168949 </td></tr>-->
			<!-- <tr><td> 2022 </td><td> 221862 </td><td> 101373 </td></tr>-->
		</table>
		<p align="right">Таблица_1</p>
	</div>

	<p>Ниже на графике_2 приведена динамика количества вакансий по годам, на графике_3 приведена динамика количества вакансий по годам для профессии менеджера IT-проекта</p>	

	<div class="chart__container">
		<img src=" {% static 'main/img/chart_count_all.png' %}">
		<p align="right">График_2</p>
	</div>
	<div class="chart__container">
		<img src=" {% static 'main/img/chart_count_it.png' %}">
		<p align="right">График_3</p>
	</div>
	<div class="table__section">
		<table>


			<tr><th> Год </th>
				<th> Все профессии </th>
				<th> Менеджер IT-проекта </th>
			</tr>
			{% for item in y %}
				<tr>
					<td> {{ item.year }} </td>
					<td> {{ item.all_professions }} </td>
					<td> {{ item.it_manager }} </td>
				</tr>
			{% endfor %}

			<!--	
				<tr>
					<th> Год </th>
					<th> Все профессии </th>
					<th> Менеджер IT-проекта </th>
				</tr> 
			-->
		<!--	<tr><td> 2003 </td><td> 1865   </td><td> 0    </td></tr>    -->
		<!--	<tr><td> 2004 </td><td> 7494   </td><td> 8    </td></tr>	-->
		<!--	<tr><td> 2005 </td><td> 15249  </td><td> 25   </td></tr>	-->
		<!--	<tr><td> 2006 </td><td> 31714  </td><td> 34   </td></tr>	-->
		<!--	<tr><td> 2007 </td><td> 51185  </td><td> 103  </td></tr>	-->
		<!--	<tr><td> 2008 </td><td> 72676  </td><td> 158  </td></tr>	-->
		<!--	<tr><td> 2009 </td><td> 51515  </td><td> 86   </td></tr>	-->
		<!--	<tr><td> 2010 </td><td> 90995  </td><td> 132  </td></tr>	-->
		<!--	<tr><td> 2011 </td><td> 139009 </td><td> 188  </td></tr>	-->
		<!--	<tr><td> 2012 </td><td> 63829  </td><td> 206  </td></tr>	-->
		<!--	<tr><td> 2013 </td><td> 55928  </td><td> 345  </td></tr>	-->
		<!--	<tr><td> 2014 </td><td> 71036  </td><td> 359  </td></tr>	-->
		<!--	<tr><td> 2015 </td><td> 66524  </td><td> 471  </td></tr>	-->
		<!--	<tr><td> 2016 </td><td> 74748  </td><td> 516  </td></tr>	-->
		<!--	<tr><td> 2017 </td><td> 63129  </td><td> 683  </td></tr>	-->
		<!--	<tr><td> 2018 </td><td> 61550  </td><td> 942  </td></tr>	-->
		<!--	<tr><td> 2019 </td><td> 71099  </td><td> 1025 </td></tr>	-->
		<!--	<tr><td> 2020 </td><td> 88191  </td><td> 852  </td></tr>	-->
		<!--	<tr><td> 2021 </td><td> 168949 </td><td> 567  </td></tr>	-->
		<!--	<tr><td> 2022 </td><td> 101373 </td><td> 193  </td></tr>	-->

		</table>
		<p align="right">Таблица_2</p>
	</div>
</div>
{% endblock %}