{% extends 'main/base.html' %}

{% load static %}


{% block title %}
География
{% endblock %}


{% block content %}
<div class="container">

	<h2>География</h2>

	<p>Ниже на графике_4 и в таблице_3 приведены уровень зарплат по городам (в порядке убывания)</p>
	<div class="chart__container">
		<img src=" {% static 'main/img/citys_sal.jpg' %}">
		<p align="right">График_4</p>
	</div>
	<div class="table__section">
	<table>

	<tr>
		<th> Город </th>
		<th> Зарплата </th>
		<th> Город </th>
		<th> Зарплата </th>
	</tr>
	{% for item in x %}
		<tr>
			<td> {{ item.city_collum_1 }} </td>
			<td> {{ item.salary_collum_1 }} </td>

			<td> {{ item.city_collum_2 }} </td>
			<td> {{ item.salary_collum_2 }} </td>
		</tr>
	{% endfor %}

<!--	<tr><th> Город            </th><th> Зарплата </th><th> Город           </th><th> Зарплата </th></tr>	-->
<!--	<tr><td> Ташкент          </td><td> 650023   </td><td> Кемерово        </td><td> 59500    </td></tr>	-->
<!--	<tr><td> Усть-Каменогорск </td><td> 275000   </td><td> Биробиджан      </td><td> 59500    </td></tr>	-->
<!--	<tr><td> Алматы           </td><td> 227669   </td><td> Благовещенск    </td><td> 59500    </td></tr>	-->
<!--	<tr><td> Нур-Султан       </td><td> 198889   </td><td> Электросталь    </td><td> 59500    </td></tr>	-->
<!--	<tr><td> Уральск          </td><td> 185000   </td><td> Новокузнецк     </td><td> 54425    </td></tr>	-->
<!--	<tr><td> Щелково          </td><td> 180000   </td><td> Санкт-Петербург </td><td> 54175    </td></tr>	-->
<!--	<tr><td> Караганда        </td><td> 125000   </td><td> Зеленоград      </td><td> 54000    </td></tr>	-->
<!--	<tr><td> Шымкент          </td><td> 90000    </td><td> Калининград     </td><td> 53750    </td></tr>	-->
<!--	<tr><td> Дубна            </td><td> 90000    </td><td> Ярославль       </td><td> 53500    </td></tr>	-->
<!--	<tr><td> Екатеринбург     </td><td> 71779    </td><td> Дзержинск       </td><td> 52500    </td></tr>	-->
<!--	<tr><td> Химки            </td><td> 70000    </td><td> Казань          </td><td> 52054    </td></tr>	-->
<!--	<tr><td> Орехово-Зуево    </td><td> 70000    </td><td> Воронеж         </td><td> 51456    </td></tr>	-->
<!--	<tr><td> Москва           </td><td> 69958    </td><td> Уфа             </td><td> 51270    </td></tr>	-->
<!--	<tr><td> Омск             </td><td> 69167    </td><td> Ульяновск       </td><td> 50562    </td></tr>	-->
<!--	<tr><td> Владивосток      </td><td> 65250    </td><td> Тверь           </td><td> 50562    </td></tr>	-->
<!--	<tr><td> Подольск         </td><td> 65000    </td><td> Красноярск      </td><td> 50562    </td></tr>	-->
<!--	<tr><td> Краснодар        </td><td> 64879    </td><td> Вологда         </td><td> 50562    </td></tr>	-->
<!--	<tr><td> Самара           </td><td> 63750    </td><td> Хабаровск       </td><td> 50562    </td></tr>	-->
<!--	<tr><td> Красногорск      </td><td> 63000    </td><td> Брянск          </td><td> 50562    </td></tr>	-->
<!--	<tr><td> Находка          </td><td> 62000    </td><td> Мурманск        </td><td> 50562    </td></tr>	-->
<!--	<tr><td> Челябинск        </td><td> 61189    </td><td> Ростов-на-Дону  </td><td> 50562    </td></tr>	-->
<!--	<tr><td> Долгопрудный     </td><td> 59500    </td><td> Новосибирск     </td><td> 46766    </td></tr>	-->
<!--	<tr><td> Мытищи           </td><td> 58125    </td><td> Барнаул         </td><td> 45375    </td></tr>	-->
	</table>
	<p align="right">Таблица_3</p>
	</div>
	

	<p>Ниже на графике_5 и в таблице_4 приведено количество и доля вакансий по городам (в порядке убывания)</p>	
	<div class="chart__container">
		<img src=" {% static 'main/img/citys_job.png' %}">
		<p align="right">График_5</p>
	</div>
	<div class="table__section">
		<table>

			<tr>
				<th> Город </th>
				<th> Количество вакансий </th>
				<th> Доля в % </th>
				<th> Город </th>
				<th> Количество вакансий </th>
				<th> Доля в % </th>
			</tr>
			{% for item in y %}
				<tr>
					<td> {{ item.city_collum_1 }} </td>
					<td> {{ item.salary_collum_1 }} </td>
					<td> {{ item.part_collum_1 }} </td>

					<td> {{ item.city_collum_2 }} </td>
					<td> {{ item.vacancies_collum_2 }} </td>
					<td> {{ item.part_collum_2 }} </td>
				</tr>
			{% endfor %}

<!-- <tr><th> Город </th><th> Количество вакансий </th><th> Доля в % </th>		-->
<!-- 	<th> Город </th><th> Количество вакансий </th><th> Доля в % </th></tr>		-->
<!-- <tr><td> Москва           </td><td> 3532 </td><td> 55,8</td> 		-->
<!-- 	<td> Тюмень           </td><td> 32   </td><td> 0,5 </td></tr>		-->
<!-- <tr><td> Санкт-Петербург  </td><td> 540  </td><td> 8,5 </td> 		-->
<!-- 	<td> Уфа              </td><td> 32   </td><td> 0,5 </td></tr>		-->
<!-- <tr><td> Минск            </td><td> 249  </td><td> 3,9 </td> 		-->
<!-- 	<td> Владивосток      </td><td> 28   </td><td> 0,4 </td></tr>		-->
<!-- <tr><td> Новосибирск      </td><td> 185  </td><td> 2,9 </td> 		-->
<!-- 	<td> Волгоград        </td><td> 28   </td><td> 0,4 </td></tr>		-->
<!-- <tr><td> Киев             </td><td> 168  </td><td> 2,6 </td> 		-->
<!-- 	<td> Владимир         </td><td> 27   </td><td> 0,4 </td></tr>		-->
<!-- <tr><td> Алматы           </td><td> 149  </td><td> 2,3 </td> 		-->
<!-- 	<td> Рязань           </td><td> 26   </td><td> 0,4 </td></tr>		-->
<!-- <tr><td> Екатеринбург     </td><td> 127  </td><td> 2,0 </td> 		-->
<!-- 	<td> Тверь            </td><td> 26   </td><td> 0,4 </td></tr>		-->
<!-- <tr><td> Казань           </td><td> 103  </td><td> 1,6 </td> 		-->
<!-- 	<td> Омск             </td><td> 25   </td><td> 0,3 </td></tr>		-->
<!-- <tr><td> Ростов-на-Дону   </td><td> 92   </td><td> 1,4 </td> 		-->
<!-- 	<td> Хабаровск        </td><td> 24   </td><td> 0,3 </td></tr>		-->
<!-- <tr><td> Нур-Султан       </td><td> 88   </td><td> 1,3 </td> 		-->
<!-- 	<td> Белгород         </td><td> 23   </td><td> 0,3 </td></tr>		-->
<!-- <tr><td> Самара           </td><td> 85   </td><td> 1,3 </td> 		-->
<!-- 	<td> Калининград      </td><td> 23   </td><td> 0,3 </td></tr>		-->
<!-- <tr><td> Нижний Новгород  </td><td> 67   </td><td> 1,0 </td> 		-->
<!-- 	<td> Иваново          </td><td> 21   </td><td> 0,3 </td></tr>		-->
<!-- <tr><td> Краснодар        </td><td> 58   </td><td> 0,9 </td> 		-->
<!-- 	<td> Ташкент          </td><td> 20   </td><td> 0,3 </td></tr>		-->
<!-- <tr><td> Челябинск        </td><td> 56   </td><td> 0,9 </td> 		-->
<!-- 	<td> Днепр            </td><td> 17   </td><td> 0,2 </td></tr>		-->
<!-- <tr><td> Воронеж          </td><td> 49   </td><td> 0,7 </td> 		-->
<!-- 	<td> Липецк           </td><td> 14   </td><td> 0,2 </td></tr>		-->
<!-- <tr><td> Пермь            </td><td> 48   </td><td> 0,7 </td> 		-->
<!-- 	<td> Чебоксары        </td><td> 14   </td><td> 0,2 </td></tr>		-->
<!-- <tr><td> Ульяновск        </td><td> 40   </td><td> 0,6 </td> 		-->
<!-- 	<td> Кострома         </td><td> 14   </td><td> 0,2 </td></tr>		-->
<!-- <tr><td> Тула             </td><td> 38   </td><td> 0,6 </td> 		-->
<!-- 	<td> Пенза            </td><td> 13   </td><td> 0,1 </td></tr>		-->
<!-- <tr><td> Иркутск          </td><td> 37   </td><td> 0,5 </td> 		-->
<!-- 	<td> Оренбург         </td><td> 12   </td><td> 0,1 </td></tr>		-->
<!-- <tr><td> Зеленоград       </td><td> 35   </td><td> 0,5 </td> 		-->
<!-- 	<td> Ставрополь       </td><td> 12   </td><td> 0,1 </td></tr>		-->
<!-- <tr><td> Томск            </td><td> 35   </td><td> 0,5 </td> 		-->
<!-- 	<td> Набережные Челны </td><td> 11   </td><td> 0,1 </td></tr>		-->
<!-- <tr><td> Красноярск       </td><td> 34   </td><td> 0,5 </td> 		-->
<!-- 	<td> Киров            </td><td> 11   </td><td> 0,1 </td></tr>		-->
<!-- <tr><td> Ярославль        </td><td> 32   </td><td> 0,5 </td> 		-->
<!-- 	<td> Одесса           </td><td> 11   </td><td> 0,1 </td></tr>		-->
		</table>
		<p align="right">Таблица_4</p>
	</div>

</div>
{% endblock %}