{% extends 'main/base.html' %}

{% load static %}


{% block title %}
Главная
{% endblock %}


{% block content %}
<div class="container">
	<div><h2>Чем занимается Проект-менеджер в IT</h2>
		<p><b>Проект-менеджер в IT (project manager)</b> — это специалист, который понимает специфику IT, умеет организовать работу команды и на этой основе выполняет административно-управленческие функции. Хороший project manager умеет реализовать проекты любой сложности, не выходя за рамки сроков и бюджета.<br><br>
		Это человек, который превращает хаос в порядок. Менеджер отвечает за весь проект — от первой встречи с клиентом до запуска. Он помогает сформулировать задачу, предлагает первые решения, планирует все это с командой и следит за сроками. Можно делать IT-проекты и без менеджера, но такой специалист сэкономит всем время и нервы, а бизнесу — деньги.<br><br>
		Главная задача проджект-менеджера — координировать работу специалистов для создания рабочего программного продукта (сайта, портала, приложения и др.). Он управляет разработчиками, дизайнерами и всей командой, участвующей в реализации проекта.<br><br>
		Круг обязанностей ПМ напрямую зависит от масштабности компании-работодателя. Крупные агентства возлагают на него только управленческие задачи. А в небольших фирмах, особенно, стартапах, специалист может также отвечать за тестирование, аналитику, консультации клиентов и пр.
		Верх мастерства менеджера проектов в IT — умение реализовать все стадии разработки проекта — от планирования до создания конечного продукта, отвечающего требованиям и целям заказчика. </p></div>

		<br>
		<img src=" {% static 'main/img/image.png' %}">
		<br>
		<div><h2>Какие задачи решает</h2>
			<p>Менеджер проектов ведет задачу на каждом этапе. Все начинается с момента, когда клиент приходит с идеей. Первую встречу с ним проводит в том числе менеджер. Он спрашивает обо всем: чем этот продукт должен помочь клиенту и пользователям, что надо учесть, когда все должно быть готово. Ещё менеджер работает с бюджетом проекта. 
			<br><br>
			Дальше начинается работа с командой.
			Проджект переводит идею клиента в задачу, которую можно поставить команде. Если посмотреть на весь процесс работы, то вот чем будет здесь заниматься менеджер: 
			<br><br>
			— <b>Выясняет требования клиента.</b> Какую задачу хочет решить клиент, какие у него ожидания и бюджет, в какие сроки надо уложиться и почему. 
			<br><br>
			— <b>Формулирует и согласует задачу.</b> Тут важно, чтобы все друг друга правильно понимали, говорили в одних терминах, одинаково представляли себе результат.
			<br><br>
			— <b>Делает прототип.</b> Менеджер создает схемы с логикой и наполнением продукта. Так он пытается понять, как команда будет решать задачу клиента. 
			<br><br>
			— <b>Ставит задачу дизайнеру.</b> Когда решение согласовано, менеджер идет к дизайнеру. Он объясняет, что нужно клиенту, показывает референсы, обсуждает детали. Вместе с дизайнером менеджер устанавливает сроки работы, а потом принимает результат. 
			<br><br>
			— <b>Налаживает разработку.</b> Объясняет задачу разработчикам, передает им макет от дизайнера. После — забирает результат и сверяется с той задачей, о которой договорились с клиентом. 
			<br><br>
			— <b>Тестирует продукт.</b> Проверяет, все ли правильно работает, нет ли ошибок. Менеджер смотрит на логику работы продукта — соответствует ли она ожиданиям клиента. 
			<br><br>
			Бывают также задачи по работе с командой. Например, найти разработчика и дизайнера для проекта, следить за их мотивацией, помогать всем сторонам договариваться между собой. Эмоциональное состояние команды тоже на совести менеджера проектов. Если у кого-то трудные времена в жизни и это начинает сказываться на работе, менеджер будет разбираться, чем тут помочь, чтобы проблема не влияла на результат.</p>

			<div class="highlighted__information">
				<h2>Главная цель менеджера проектов — сделать так, чтобы команда выпустила продукт вовремя и с таким наполнением, которое нужно клиенту. Ресурсы менеджера — команда, время и деньги</h2>
			</div>

			<p>Менеджер следит за временем, пытается предугадать, какие обстоятельства могут задержать проект и как с этим справиться. Чтобы все это получилось, мало теоретических знаний — нужен опыт работы в команде, умение договариваться и способность правильно расставить приоритеты. Главный навык хорошего менеджера — это достижение целей.
			</p></div>

			<div><h2>Кто может стать менеджером проектов в IT</h2>
			<p>Каждый сталкивается с ведением проектов, даже если не подозревает об этом. Например, иногда нужно спланировать путешествие или сделать ремонт. Для этого тоже приходится собирать информацию, договариваться со всеми, искать нужных специалистов и выдерживать сроки. Так работает менеджмент проектов в обычной жизни.<br><br>

			В профессию приходят из разных сфер и с разным опытом. Разработчикам будет проще в самом начале — они уже погружены в процессы, понимают, как строится работа над цифровым продуктом. Часто в таких менеджеров вырастают из тестировщиков. «У тестировщиков уже есть понимание процессов разработки, они понимают, что такое бэкенд, фронтенд и API. Остается подтянуть софт-скиллы, научиться грамотно планировать, работать с рисками», — рассказывает руководитель курса Яна Ганина.<br><br>

			Другой вариант старта в профессии — управленцы, которые уже вели проекты в других сферах, но мало знают о специфике IT. Здесь нужно будет получше разобраться с этапами работы над цифровыми продуктами. Еще для старта важно понять, как устроены мобильные и веб-приложения, это поможет говорить с разработчиками на одном языке.<br><br>

			Сейчас больше всего вакансий для таких специалистов в компаниях, которые выполняют заказы на разработку. Продуктовые команды реже ищут проджектов: здесь эта роль может соединяться с менеджером продукта. В таком случае нужно и рулить задачей, и думать о развитии продукта — разбираться в потребностях пользователей, выявлять ценность продукта и думать о его продвижении.</p></div></div>
			
{% endblock %}