{% extends 'main/base.html' %}

{% load static %}


{% block title %}
Навыки
{% endblock %}


{% block content %}
<div class="container">
	<h2>Необходимые навыки</h2>
	<p><b>Проект</b> — это комплекс мероприятий, ограниченных по времени и направленных на создание уникального продукта или доработку уже существующего. Проекты имеют различные формы и реализуются в любой сфере и отрасли.
	<br><br>
	Строительство новой дорожной развязки, исправление ошибок в мобильном приложении или обновление настроек безопасности устройства — всё это проекты. Каждый из них начинается с неудовлетворённой потребности и заканчивается созданием решения, способного эту потребность закрыть.
	<br><br>
	Проект появляется и реализуется в определённых условиях: новую развязку нужно вписать в существующую дорожную инфраструктуру и ландшафт, обновление ПО — встроить в приложение или устройство. Чтобы учесть эти условия, необходимо оценить исходные параметры проекта и выстроить внутренние процессы. Этим занимается проджект-менеджер: он планирует работу над проектом, управляет процессами и рисками, работает с заинтересованными сторонами, решает проблемы и отвечает за достижение поставленных целей.
	<br><br>
	Поэтому для проектного менеджера важно обладать <b>хард-скиллами</b> (это умения, необходимые для конкретной работы, то, чему учат в колледже и университете. Поэтому такие навыки часто называют профессиональными) — значит владеть всеми базовыми методиками и способами управления проектом. Разные стандарты по-своему описывают компетенции этого специалиста, однако сам набор навыков примерно одинаков.</p>
	<p>Ниже в таблице_5 приведены топ 10 навыков для менеджер IT-проекта по годам</p>	
	<table>
		<tr>
			<th> Год </th>
			<th> Навык </th>
		</tr>
		{% for item in data %}
			<tr>
				<td> {{ item.year }} </td>
				<td> {{ item.skill }} </td>
			</tr>
		{% endfor %}
	</table>
	<p align="right">Таблица_5</p>
</div>
{% endblock %}